body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.231);
  }
  
  .navbar .logo {
    font-size: 24px;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .about-hero {
    background: black;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .about-hero h1 {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
  }
  
  .team-section {
    padding: 50px;
    text-align: center;
  }
  
  .team-gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .team-member img {
    width: 150px;
    border-radius: 50%;
  }
  
  .testimonial-section {
    padding: 50px;
    background-color: #000000;
    text-align: center;
  }
  
  blockquote {
    font-size: 18px;
    font-style: italic;
    margin: 20px 0;
  }
  